<nav class="space-x-4">
    <a href="{% url 'home' %}" class="text-gray-700 font-semibold hover:text-orange-500">Home</a>
</nav>
<nav class="space-x-4">
    <a href="{% url 'menu' %}" class="text-gray-700 font-semibold hover:text-orange-500">Menu</a>
</nav>
<nav class="space-x-4">
    <a href="{% url 'track' %}" class="text-gray-700 font-semibold hover:text-orange-500">Order Track</a>
</nav><nav class="space-x-4">
    <a href="{% url 'reservation' %}" class="text-gray-700 font-semibold hover:text-orange-500">Reservation</a>
</nav><nav class="space-x-4">
    <a href="{% url 'contact' %}" class="text-gray-700 font-semibold hover:text-orange-500">Contact</a>
</nav>
<!-- Search Form -->
